<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web_Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landingPage" >
        <div id="heading" >
            <h1 class="centered">HOUSE MONITORING WEB_INTERFACE</h1>
            <h1 class="centered">IoT Domain Analyst Project</h1>
        </div>
        <div id="catalog">
            <button id="btn1"class="button_active"><a href="home" class="btn">Home</a></button>
            <button id="btn2"><a href="door" class="btn">Door</a></button>
            <button id="btn3"><a href="room" class="btn">Room</a></button>
            <button id="btn4"><a href="lobby" class="btn">Lobby</a></button>
            <button id="btn5"><a href="weather" class="btn">Weather</a></button>
        </div>
    </div>
</body>
</html>