<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
    <title>Weather</title>
</head>
<body>
    <div class="landingPage" >
        <h1 class="centered" style="position: absolute;top: 2.5vw;padding-top: 1vh;padding-bottom: 1vh;border-radius: 5%;">Weather</h1>
        <div id="catalog">
            <button id="btn1"><a href="home" class="btn">Home</a></button>
            <button id="btn2"><a href="door" class="btn">Door</a></button>
            <button id="btn3"><a href="room" class="btn">Room</a></button>
            <button id="btn4"><a href="lobby" class="btn">Lobby</a></button>
            <button id="btn5"class="button_active"><a href="weather" class="btn">Weather</a></button>
        </div>
        <div class="result" style="flex-direction:column">
            <h1 class="centered" style="font-size:2rem;">Current Weather Data</h1>
            <table>
                <tr>
                    <th colspan="4">Location</th>
                </tr>
                <tr>
                    <th class="left">Country Code:-</th>
                    <td class="left">{{data.country_code}}</td>
                    <th class="left">City:-</th>
                    <td class="left">{{data.cityname}}</td>
                </tr>
                <tr>
                    <th colspan="2" class="left">Temeprature</th>
                    <td colspan="2" class="left">{{data.temp}}</td>
                </tr>
                <tr>
                    <td colspan="4" class="left">Feels like {{data.temp_feel}}</td>
                </tr>
                <tr>
                    <th class="left">Min.Temp</th>
                    <td class="left">{{data.temp_min}}</td>
                    <th class="left">Max.Temp</th>
                    <td class="left">{{data.temp_max}}</td>
                </tr>
                <tr>
                    <th colspan="4">Weather</th>
                </tr>
                <tr>
                    <th class="left">Pressure</th>
                    <td class="left">{{data.pressure}}</td>
                    <th class="left">Humidity</th>
                    <td class="left">{{data.humid}}</td>
                </tr>
            </table>
        </div>
        <div class="result" style="flex-direction:column">
            <h1 class="centered" style="font-size:2rem;">Weather Forecast</h1>
            <table>
                <tr>
                    <th class="high">Date and Time</th>
                    <th class="high">Min_Temp</th>
                    <th class="high">Max_Temp</th>
                    <th class="high">PoP</th>
                    <th class="high">Humidity</th>
                    <th class="high">Weather</th>
                </tr>
                <tr>
                    <td>{{data.time[0]}}</td>
                    <td>{{data.max_temp[0]}}</td>
                    <td>{{data.min_temp[0]}}</td>
                    <td>{{data.pre[0]}}</td>
                    <td>{{data.humidity[0]}}</td>
                    <td>{{data.predicted_weather[0]}}</td>
                </tr>
                <tr>
                    <td>{{data.time[1]}}</td>
                    <td>{{data.max_temp[1]}}</td>
                    <td>{{data.min_temp[1]}}</td>
                    <td>{{data.pre[1]}}</td>
                    <td>{{data.humidity[1]}}</td>
                    <td>{{data.predicted_weather[1]}}</td>
                </tr>
                <tr>
                    <td>{{data.time[2]}}</td>
                    <td>{{data.max_temp[2]}}</td>
                    <td>{{data.min_temp[2]}}</td>
                    <td>{{data.pre[2]}}</td>
                    <td>{{data.humidity[2]}}</td>
                    <td>{{data.predicted_weather[2]}}</td>
                </tr>
                <tr>
                    <td>{{data.time[3]}}</td>
                    <td>{{data.max_temp[3]}}</td>
                    <td>{{data.min_temp[3]}}</td>
                    <td>{{data.pre[3]}}</td>
                    <td>{{data.humidity[3]}}</td>
                    <td>{{data.predicted_weather[3]}}</td>
                </tr>
                <tr>
                    <td>{{data.time[4]}}</td>
                    <td>{{data.max_temp[4]}}</td>
                    <td>{{data.min_temp[4]}}</td>
                    <td>{{data.pre[4]}}</td>
                    <td>{{data.humidity[4]}}</td>
                    <td>{{data.predicted_weather[4]}}</td>
                </tr>
            </table>
        </div>
</body>
</html>